<!DOCTYPE html>
<html>
<head>
    <title>{{Something Went Wrong}}</title>
</head>
<body>
        <h1>Errr Code: {{statusCode}}</h1>
        <h3>Please contact your administrator; sorry for the inconvenience</h1>
</body>
</html>
